In [16]:
num="123456"
len(num)

6

In [17]:
num[2:6:3] #36

'36'

In [1]:
S="ABCDE"
s[-3]# error because var S in uppercase and we are trying to access with lowercase s

NameError: name 's' is not defined

In [23]:
S[-3] # c

'C'

In [3]:
name="LPU"

# operator

# Airthmetic

# Assigmnet

# relational

# logical 

# bitwise

# membership 

# identity

In [2]:
a=5 , b=6 , c=10

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2301759258.py, line 1)

In [25]:

a,b,c=19,12.876,True # multi line assignment
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

19
<class 'int'>
12.876
<class 'float'>
True
<class 'bool'>

# identity operator

In [28]:
a=10
print(id(a))

b=10

print(id(b))

1842347377168
1842347377168

In [29]:
a is b

True

In [30]:
a=1098796
print(id(a))
b=10978

print(id(b))

1842460005744
1842460008528

In [31]:
a is b

False

# membership operator

In [35]:
s="King Kohli"
"koh" in s # gives  false beacuse k of koh in s in upper and we are checking in lowercase

False

In [36]:
s="King Kohli"
"Koh" in s # gives  True beacause Koh ia vailable in s

True

# conditional statement

In [2]:
a=10
if a>0:
    print("positive number")

positive number

In [3]:
a=10
if a>0:
print("positive number") #gives error because we have to enter after : in first line then start coding

IndentationError: expected an indented block after 'if' statement on line 2 (3085416702.py, line 3)

In [4]:
a=-10
if a>0:
    print("positive number") # code exectes but output will not display beacuse condition becomes 
    # false and flow comes out of loop

In [5]:
a=10
b=20
print("hello world")

print("python")
if a>0:
    print("ans")
print("positive no")
print("LPU")
print("end of if")
a=20

hello world
python
ans
positive no
LPU
end of if

In [6]:
a=10
b=20
c=a+b
print("lpu")
if a>0 :
    print("positive no",a)
    print("going good")
print("end of if")
c
a
print(b)

lpu
positive no 10
going good
end of if
20

## elif :-- if we want to check multiple contion then we have to use elif

In [7]:
day=input("plzz enter the day name")

if day=="mon":
    print("today is monday")
elif day=="tues":
    print("tuesday")
elif day=="wed":
    print("wednesday")
elif day=="thurs":
    print("thursday")
elif day=="fri":
    print("friday")
elif day=="sat":
    print("saterday")
else :
    print("sunday")

plzz enter the day namesat
saterday

# Looping / iterative / repetative 

### The purpose of looping statement is that to execute certain operation repeatedly for finite  number of times untill test condtion becomes false


# types of looping statement

### while loop
### for loop

# while loop

# At the time of dealing with looping statement , the programmer must have focus on 3 points:


### initialization part
### conditon part 
### updation part(increment part/ decrement part) i=i+1/i+=1

#  Printing "Welcome to Lpu " 5 times

In [16]:
i=1  #initialization part

while i<=5: # condtion
    print("welcome to lpu")
    i+=1  # updatation part(increment or decrement)
print("Rest of Code")

welcome to lpu
welcome to lpu
welcome to lpu
welcome to lpu
welcome to lpu
Rest of Code

#  Counting from 1 to 10

In [17]:
i=1  #initialization part

while i<=10: # condtion
    print(i)
    i+=1  # updatation part(increment or decrement)
print("Rest of Code")

1
2
3
4
5
6
7
8
9
10
Rest of Code

#  Sum of numbers from 1 to 10

In [18]:
i=1  #initialization part
sum=0

while i<=10: # condtion
    sum=sum+i
    i+=1  # updatation part(increment or decrement)
print(sum)

55

## #  Even numbers from 1 to 20

In [19]:
i = 1
while i <= 20:
    if i % 2 == 0:
        print(i)
    i += 1
print("enf of stmt")

2
4
6
8
10
12
14
16
18
20
enf of stmt

# range() :-- range data allows us to store sequence of integer value with equal interval

# Syntax 1

## var_name = range(numeric values)

In [20]:
r=range(10)
print(r)
type(r)

range(0, 10)

range

In [21]:
r=range(50)
r

range(0, 50)

# Syntax 2

## var_name = range(start , stop)

In [22]:
r= range(10,20)
r

range(10, 20)

In [23]:
r= range(30,40)
r

range(30, 40)

# Syntax 3

## var_name = range(start , stop , step)

In [27]:
r= range(2,20,3)
r

range(2, 20, 3)